@model List<HoidFansite.Models.UserStory>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fanfiction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <nav class="navbar navbar-dark">
        <h4>Site Navigation:</h4>
        <a class=btn btn-primary" href="/Home/Index">Home</a> <br />
        <a class=btn btn-primary" href="/Home/History">History</a> <br />
        <a class=btn btn-primary" href="/Fanfiction/StoryList">Read Fanfiction</a> <br />
        <a class=btn btn-primary" href="/Fanfiction/StoryForm">Write Fanfiction</a> <br />
        <a class=btn btn-primary" href="/Sources/BookList">List of books</a><br />
        <a class=btn btn-primary" href="/Sources/LinkList">List of related links</a>
    </nav>
    <div class="panel-body">
        <h2>Fanfiction</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Story ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HoidFansite.Models.UserStory s in Model)
                {
                    <tr>
                        <td>@s.Title</td>
                        <td>@s.Author</td>
                        <td>@s.StoryID</td>
                    </tr>
                    <tr>
                        <td colspan="3">@s.Body</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Average rating: @s.GetAvgRating()
                        </td>
                        <td>
                            <a asp-action="ReviewForm" asp-route-id="@s.StoryID.ToString()">Review this story!</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Review Title</th>
                                        <th>Reviewer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (HoidFansite.Models.UserReview r in s.Reviews)
                                    {
                                        <tr>
                                            <td>@r.Title</td>
                                            <td>@r.Author</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">@r.Body</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>