@model List<HoidFansite.Models.UserStory>

@{
    Layout = "_Layout";
    ViewBag.Title = "Fanfiction";
}

<!DOCTYPE html>

<html>
<head>
    <!-- _Layout -->
</head>
<body>
    <div class="panel-body">
        <h2>Fanfiction</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HoidFansite.Models.UserStory s in Model)
                {
                    <tr>
                        <td colspan="2">@s.Title</td>
                        <td>@s.Author</td>
                    </tr>
                    <tr>
                        <td colspan="3">@s.Body</td>
                    </tr>
                    <tr>
                        <td>
                            Average rating: @s.GetAvgRating()
                        </td>
                        <td>
                            <a asp-action="ReviewForm" asp-route-id="@s.StoryID.ToString()">Review this story!</a>
                        </td>
                        <td>
                            <a asp-action="ReviewList" asp-route-id="@s.StoryID.ToString()">Read Reviews!</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>