@model List<UserStory>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Fanfiction";
}

<!DOCTYPE html>

<html>
<head>
    <!-- _Layout -->
</head>
<body>
    <div class="panel-body">

        @foreach (HoidFansite.Models.UserStory s in Model)
        {
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="50%">Title</th>
                        <th colspan="2">Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="50%">@s.Title</td>
                        <td colspan="2">@s.Author</td>
                        <td>@s.StoryID</td>
                    </tr>
                    <tr>
                        <td colspan="3">@s.Body</td>
                    </tr>
                    <tr>
                        @if (ViewBag.AvgRatings[@s.StoryID] == 0)
                        {
                            <td>Average rating: Story not yet rated!</td>
                        } else
                        {
                            <td>Average rating: @ViewBag.AvgRatings[@s.StoryID]</td>
                        }
                        <td>
                            <a asp-action="ReviewForm" asp-route-id="@s.StoryID">Review this story!</a>
                        </td>
                        <td>
                            <a asp-action="ReviewList" asp-route-id="@s.StoryID">Read Reviews!</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</body>
</html>