@model List<HoidFansite.Models.Book>
@{
    Layout = null;
}

<!DOCTYPE ="html">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Media</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar-dark">
        <h4>Site Navigation:</h4>
        <a class=btn btn-primary" href="/Home/Index">Home</a> <br />
        <a class=btn btn-primary" href="/Home/History">History</a> <br />
        <a class=btn btn-primary" href="/Fanfiction/StoryList">Read Fanfiction</a> <br />
        <a class=btn btn-primary" href="/Fanfiction/StoryForm">Write Fanfiction</a> <br />
        <a class=btn btn-primary" href="/Sources/BookList">List of books</a><br />
        <a class=btn btn-primary" href="/Sources/LinkList">List of related links</a>
    </nav>
    <div class="panel-body">
        <h2>Here are the books Hoid appears in</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publication Date</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Series</th>
                </tr>
            </thead>
            <tbody>
                <!--- Displays all books contained within the repository -->
                @foreach (HoidFansite.Models.Book b in Model)
                {
                    <tr>
                        <td>@b.Title</td>
                        <td>@b.PublicationDate.ToShortDateString()</td>
                        <td>@b.Author</td>
                        <td>@b.Isbn</td>
                        <td>@b.Series</td>
                    </tr>
                    <tr>
                        <td colspan="5">@b.Summary</td>
                    </tr>
                    <tr>
                        <td colspan="5">@b.WheresHoid</td>
                    </tr>
                    <tr>
                        <td colspan="5"> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
